<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AdviseIT API</title>
        <link th:href="@{/css/reset.css}" rel="stylesheet">
        <link th:href="@{/css/styles.css}" rel="stylesheet">
        <link th:href="@{images/favicon.ico}" rel="icon">
    </head>
    <body>
        <h1>Welcome to AdviseIT</h1>
        <section>
            <div>
                <img th:src="@{images/logo.png}" alt="AdviseIT Logo">
            </div>
            <p>
                AdviseIT is a robust advising application to provide
                students and advisors alike with the tools they need
                to set their future tech educational paths in motion.
            </p>
            <p>
                AdviseIT provides both a powerful REST API to deliver
                intelligent course advising to students.
            </p>
            <p>
                AdviseIT also
                features powerful tools for advisors to track student progress
                and keep up to date with changing course requirements.
            </p>
        </section>
        <footer>
            <p>
                Please see our
                <a th:href="@{https://github.com/davidkurilla/adviseit}" target="_blank">
                    GitHub Repository
                </a>
                for more information
            </p>
            <p>Mint-Mocha Dev Team <span id="date"></span></p>
        </footer>
        <script th:src="@{js/script.js}"></script>
    </body>
</html>