<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdviseIT API</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{icons/favicon.ico}" rel="icon">

</head>
<body>
    <section class="schedule">
        <p th:text="'CoursesPerQuarter: ' + ${preferences.getCoursesPerQuarter()}"></p>
        <p th:text="'SummerQuarter: ' + ${preferences.getSummerQuarter()}"></p>
        <p th:text="'StartingSeason: ' + ${preferences.getStartingSeason()}"></p>

        <hr>

        <div>
            <th:block th:each="quarter : ${schedule.getQuarterList()}">
                <p th:text="${quarter.getSeason()}"></p>
                <ul>
                   <th:block th:if="${course != null}" th:each="course : ${quarter.getCourseList()}">
                       <li th:text="${course.getTitle()}"></li>
                   </th:block>
                </ul>
            </th:block>
        </div>
    </section>

<!--    <script src="../static/js/schedule.js"></script>-->
</body>

</html>